<h2>Library Books</h2>
<!-- <div ng-repeat="add the expression here to repeat through the books">
  Here, make the HTML for how you want each book to display.
  Make sure you display an image, the title, and the author.
  The title should be a link to the specific book view.
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <form class="form-horizontal" ng-submit="booksIndexCtrl.createBook()">
        <fieldset>

          <!-- Form Name -->
          <legend>Add New Book</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Book Name</label>
            <div class="col-md-4">
            <input id="name" ng-model="booksIndexCtrl.newBook.name" type="text" class="form-control input-md" required="">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Author Name</label>
            <div class="col-md-4">
            <input ng-model="booksIndexCtrl.newBook.title" type="text" class="form-control input-md">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Release Date</label>
            <div class="col-md-4">
            <input ng-model="albumsIndexCtrl.newBook.author" type="text" class="form-control input-md">
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label">Save Book</label>
            <div class="col-md-4">
              <button class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
<!-- html to show on page -->
<div ng-repeat="book in booksIndexCtrl.books">
	<hr>
	<div class="row">
		<div class="col-xs-4">
			<img ng-src="{{book.image}}" class="img-responsive">
		</div>
		<div class="col-xs-8">
      {{book._id}}
			<h5><a ng-href="/books/{{book._id}}">{{book.title}}</a></h5>
			<br>
			<p class="small">Written by {{book.author}}</p>
			<p class="small">Released {{book.releaseDate}}</p>
		</div>
	</div>
</div>
